@{
   ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
   <h2 id="title">@ViewBag.Title</h2>
   <h3>@ViewBag.Message</h3>

   <address>
      Alajuela, Costa Rica<br />
      San Pedro de Poás<br />
      <abbr title="Teléfono">+50688997744</abbr>
      20801
   </address>

   <address>
      <strong>Soporte:</strong>   <a href="mailto:jariasr@cfia.or.cr">jariasr@cfia.or.cr</a><br />
      <strong>Mercadeo:</strong> <a href="mailto:jariasr@cfia.or.cr">jariasr@cfia.or.cr</a>
   </address>
</main>