@{
    ViewBag.Title = "Tarea No.2 - Jonathan Arias Román";
}

<div class="text-center">
   <h1 class="display-4">Universidad Estatal a Distancia</h1>
   <h1 class="display-4">Vicerrectoría Académica</h1>
   <h1 class="display-4">Escuela de Ciencias Exactas y Naturales</h1>
   <h1 class="display-4">Ingeniería Informática</h1>
   <br />
   <h1 class="display-5">03101 - Programación Avanzada en Web</h1>
   <br />
   <h1 class="display-5">Tarea No.2</h1>
   <br />
   <h1 class="display-6">Jonathan Arias Román</h1>
   <br />
   <h1 class="display-6">CU Alajuela</h1>
   <br />
   <h1 class="display-6">Cuatrimestre III-2023</h1>
   <br />
   <br />
   <p>Aprender acerca de <a href="https://dotnet.microsoft.com/es-es/apps/aspnet/mvc" target="_blank">Patrón de MVC de ASP.NET</a></p>
</div>